# Data Cleaning - Covid 19 Data Set (Source - Kaggle)

In [133]:
import pandas as pd
import numpy as np

In [134]:
df = pd.read_csv('covid_19_india.csv')

In [135]:
df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1.0,2020-01-30,6:00 PM,Kerala,1,0,0.0,0.0,1.0
1,2.0,2020-01-31,6:00 PM,Kerala,1,0,0.0,0.0,1.0
2,3.0,2020-02-01,6:00 PM,Kerala,2,0,0.0,0.0,2.0
3,4.0,2020-02-02,6:00 PM,Kerala,3,0,0.0,0.0,3.0
4,5.0,2020-02-03,6:00 PM,Kerala,3,0,0.0,0.0,3.0

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15114 entries, 0 to 15113
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       15086 non-null  float64
 1   Date                      15086 non-null  object
 2   Time                      15086 non-null  object
 3   State/UnionTerritory      15086 non-null  object
 4   ConfirmedIndianNational   15086 non-null  object
 5   ConfirmedForeignNational  15086 non-null  object
 6   Cured                     15086 non-null  float64
 7   Deaths                    15086 non-null  float64
 8   Confirmed                 15086 non-null  float64
dtypes: float64(4), object(5)
memory usage: 1.0+ MB

In [138]:
df['State/UnionTerritory'].unique()

array(['Kerala', 'Telengana', 'Delhi', 'Rajasthan', 'Uttar Pradesh',
       'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra',
       'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand',
       'Odisha', 'Puducherry', 'West Bengal', 'Chhattisgarh',
       'Chandigarh', 'Gujarat', 'Himachal Pradesh', 'Madhya Pradesh',
       'Bihar', 'Manipur', 'Mizoram', 'Andaman and Nicobar Islands',
       'Goa', 'Unassigned', 'Assam', 'Jharkhand', 'Arunachal Pradesh',
       'Tripura', 'Nagaland', 'Meghalaya',
       'Dadra and Nagar Haveli and Daman and Diu',
       'Cases being reassigned to states', 'Sikkim', 'Daman & Diu',
       'Lakshadweep', 'Telangana', nan], dtype=object)

In [140]:
df.isna()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
15109,True,True,True,True,True,True,True,True,True
15110,True,True,True,True,True,True,True,True,True
15111,True,True,True,True,True,True,True,True,True
15112,True,True,True,True,True,True,True,True,True
15113,True,True,True,True,True,True,True,True,True

In [142]:
df.query('ConfirmedIndianNational == "-"')

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
446,447.0,2020-03-29,7:30 PM,Andhra Pradesh,-,-,1.0,0.0,19.0
447,448.0,2020-03-29,7:30 PM,Andaman and Nicobar Islands,-,-,0.0,0.0,9.0
448,449.0,2020-03-29,7:30 PM,Bihar,-,-,0.0,1.0,11.0
449,450.0,2020-03-29,7:30 PM,Chandigarh,-,-,0.0,0.0,8.0
450,451.0,2020-03-29,7:30 PM,Chhattisgarh,-,-,0.0,0.0,7.0
...,...,...,...,...,...,...,...,...,...
15081,15082.0,2021-05-19,8:00 AM,Telangana,-,-,485644.0,3012.0,536766.0
15082,15083.0,2021-05-19,8:00 AM,Tripura,-,-,36402.0,450.0,42776.0
15083,15084.0,2021-05-19,8:00 AM,Uttarakhand,-,-,214426.0,5132.0,295790.0
15084,15085.0,2021-05-19,8:00 AM,Uttar Pradesh,-,-,1483249.0,18072.0,1637663.0
15085,15086.0,2021-05-19,8:00 AM,West Bengal,-,-,1026492.0,13576.0,1171861.0

In [143]:
df.query('ConfirmedForeignNational == "-"')

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
446,447.0,2020-03-29,7:30 PM,Andhra Pradesh,-,-,1.0,0.0,19.0
447,448.0,2020-03-29,7:30 PM,Andaman and Nicobar Islands,-,-,0.0,0.0,9.0
448,449.0,2020-03-29,7:30 PM,Bihar,-,-,0.0,1.0,11.0
449,450.0,2020-03-29,7:30 PM,Chandigarh,-,-,0.0,0.0,8.0
450,451.0,2020-03-29,7:30 PM,Chhattisgarh,-,-,0.0,0.0,7.0
...,...,...,...,...,...,...,...,...,...
15081,15082.0,2021-05-19,8:00 AM,Telangana,-,-,485644.0,3012.0,536766.0
15082,15083.0,2021-05-19,8:00 AM,Tripura,-,-,36402.0,450.0,42776.0
15083,15084.0,2021-05-19,8:00 AM,Uttarakhand,-,-,214426.0,5132.0,295790.0
15084,15085.0,2021-05-19,8:00 AM,Uttar Pradesh,-,-,1483249.0,18072.0,1637663.0
15085,15086.0,2021-05-19,8:00 AM,West Bengal,-,-,1026492.0,13576.0,1171861.0

## Major Issues with the Data Set

#### 1. Data Set has 28 Nan Rows - As shown by df.info()
#### 2. Time Column may not be of best use for any analysis - Values mostly same
#### 3. State/UnionTerritory column can be changed to State_UT
#### 4. ConfirmedIndianNational is string but it should be a float 
#### 5. ConfirmedForeignNational is string but it should be a float 
#### 6. ConfirmedIndianNational/ConfirmedForeignNational has '-' as values
#### 7. State column has multiple rows for 'Telangana' and 'Telengana''
#### 8. State column has multiple rows for 'Dadra and Nagar Haveli and Daman and Diu' and 'Daman & Diu'
#### 9. State column has values like 'Cases being reassigned to states' and 'Unassigned'

In [144]:
# Renaming column State/UnionTerritory to State_UT
df = df.rename(columns={'State/UnionTerritory': 'State_UT'})

In [145]:
# Verifying the updated column
df.columns

Index(['Sno', 'Date', 'Time', 'State_UT', 'ConfirmedIndianNational',
       'ConfirmedForeignNational', 'Cured', 'Deaths', 'Confirmed'],
      dtype='object')

In [146]:
# Dropping rows with Nan values
df.dropna(inplace= True)

In [147]:
# Verifying the Nan Rows
df.isna().sum()

Sno                         0
Date                        0
Time                        0
State_UT                    0
ConfirmedIndianNational     0
ConfirmedForeignNational    0
Cured                       0
Deaths                      0
Confirmed                   0
dtype: int64

In [148]:
# Converting 'Date' column to to_date format
df['Date'] = pd.to_datetime(df['Date'])

In [149]:
# For column 'ConfirmedForeignNational' where data is '-' changing it with 0.0
df['ConfirmedForeignNational'] = df.ConfirmedForeignNational.apply(lambda x: 0.0 if (x == '-') else x)

In [150]:
# Verifying the above step
df.query('ConfirmedForeignNational == "-"')

Empty DataFrame
Columns: [Sno, Date, Time, State_UT, ConfirmedIndianNational, ConfirmedForeignNational, Cured, Deaths, Confirmed]
Index: []

In [151]:
# For column 'ConfirmedIndianNational' where data is '-' changing it with 0.0
df['ConfirmedIndianNational'] = df.ConfirmedIndianNational.apply(lambda x: 0.0 if (x == '-') else x)

In [152]:
# Verifying the above step
df.query('ConfirmedIndianNational == "-"')

Empty DataFrame
Columns: [Sno, Date, Time, State_UT, ConfirmedIndianNational, ConfirmedForeignNational, Cured, Deaths, Confirmed]
Index: []

In [153]:
# Converting 'ConfirmedForeignNational' to float
df["ConfirmedIndianNational"] = pd.to_numeric(df["ConfirmedIndianNational"], downcast="float")

In [155]:
df["ConfirmedForeignNational"] = pd.to_numeric(df["ConfirmedForeignNational"], downcast="float")

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15086 entries, 0 to 15085
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       15086 non-null  float64
 1   Date                      15086 non-null  datetime64[ns]
 2   Time                      15086 non-null  object
 3   State_UT                  15086 non-null  object
 4   ConfirmedIndianNational   15086 non-null  float32
 5   ConfirmedForeignNational  15086 non-null  float32
 6   Cured                     15086 non-null  float64
 7   Deaths                    15086 non-null  float64
 8   Confirmed                 15086 non-null  float64
dtypes: datetime64[ns](1), float32(2), float64(4), object(2)
memory usage: 1.0+ MB

In [176]:
df['State_UT'].unique()

array(['Kerala', 'Telengana', 'Delhi', 'Rajasthan', 'Uttar Pradesh',
       'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra',
       'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand',
       'Odisha', 'Puducherry', 'West Bengal', 'Chhattisgarh',
       'Chandigarh', 'Gujarat', 'Himachal Pradesh', 'Madhya Pradesh',
       'Bihar', 'Manipur', 'Mizoram', 'Andaman and Nicobar Islands',
       'Goa', 'Assam', 'Jharkhand', 'Arunachal Pradesh', 'Tripura',
       'Nagaland', 'Meghalaya',
       'Dadra and Nagar Haveli and Daman and Diu', 'Sikkim',
       'Daman & Diu', 'Lakshadweep', 'Telangana'], dtype=object)

In [169]:
# Dropping wors with value as 'Cases being reassigned to states' in State
df = df.drop(df.query('State_UT=="Cases being reassigned to states"').index)

In [172]:
df = df.drop(df.query('State_UT=="Unassigned"').index)

In [179]:
df.nunique()

Sno                         15023
Date                          476
Time                            7
State_UT                       38
ConfirmedIndianNational        61
ConfirmedForeignNational       11
Cured                       11520
Deaths                       5026
Confirmed                   12024
dtype: int64

### Data shows State_UT has 38 Unique values - 
### But in India there are 28 States + 8 UT = 36 - This needs more exploration

In [182]:
df['State_UT'].unique()

array(['Kerala', 'Telengana', 'Delhi', 'Rajasthan', 'Uttar Pradesh',
       'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra',
       'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand',
       'Odisha', 'Puducherry', 'West Bengal', 'Chhattisgarh',
       'Chandigarh', 'Gujarat', 'Himachal Pradesh', 'Madhya Pradesh',
       'Bihar', 'Manipur', 'Mizoram', 'Andaman and Nicobar Islands',
       'Goa', 'Assam', 'Jharkhand', 'Arunachal Pradesh', 'Tripura',
       'Nagaland', 'Meghalaya',
       'Dadra and Nagar Haveli and Daman and Diu', 'Sikkim',
       'Daman & Diu', 'Lakshadweep', 'Telangana'], dtype=object)

In [183]:
df_backup = df

In [185]:
# Telangana is misplet at few places with 'Telengana' and 'Daman & Diu' is repeated
df_backup['State_UT'] = df_backup.State_UT.apply(lambda x: 'Telangana' if (x == 'Telengana' or x == 'Telangana' ) else x)

In [189]:
df_backup['State_UT'] = df_backup.State_UT.apply(lambda x: 'Dadra and Nagar Haveli and Daman and Diu' if (x == 'Dadra and Nagar Haveli and Daman and Diu' or x == 'Daman & Diu' ) else x)

In [191]:
df_backup['State_UT'].unique()

array(['Kerala', 'Telangana', 'Delhi', 'Rajasthan', 'Uttar Pradesh',
       'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra',
       'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand',
       'Odisha', 'Puducherry', 'West Bengal', 'Chhattisgarh',
       'Chandigarh', 'Gujarat', 'Himachal Pradesh', 'Madhya Pradesh',
       'Bihar', 'Manipur', 'Mizoram', 'Andaman and Nicobar Islands',
       'Goa', 'Assam', 'Jharkhand', 'Arunachal Pradesh', 'Tripura',
       'Nagaland', 'Meghalaya',
       'Dadra and Nagar Haveli and Daman and Diu', 'Sikkim',
       'Lakshadweep'], dtype=object)

In [193]:
df_backup.nunique()

Sno                         15023
Date                          476
Time                            7
State_UT                       36
ConfirmedIndianNational        61
ConfirmedForeignNational       11
Cured                       11520
Deaths                       5026
Confirmed                   12024
dtype: int64

In [199]:
df_backup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15023 entries, 0 to 15085
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       15023 non-null  float64
 1   Date                      15023 non-null  datetime64[ns]
 2   Time                      15023 non-null  object
 3   State_UT                  15023 non-null  object
 4   ConfirmedIndianNational   15023 non-null  float32
 5   ConfirmedForeignNational  15023 non-null  float32
 6   Cured                     15023 non-null  float64
 7   Deaths                    15023 non-null  float64
 8   Confirmed                 15023 non-null  float64
dtypes: datetime64[ns](1), float32(2), float64(4), object(2)
memory usage: 1.0+ MB

In [ ]:
# Dropping Sno and Time Column

In [202]:
df_backup.drop(['Sno', 'Time'], axis = 1, inplace = True)

In [204]:
df_backup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15023 entries, 0 to 15085
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      15023 non-null  datetime64[ns]
 1   State_UT                  15023 non-null  object
 2   ConfirmedIndianNational   15023 non-null  float32
 3   ConfirmedForeignNational  15023 non-null  float32
 4   Cured                     15023 non-null  float64
 5   Deaths                    15023 non-null  float64
 6   Confirmed                 15023 non-null  float64
dtypes: datetime64[ns](1), float32(2), float64(3), object(1)
memory usage: 1.3+ MB

In [205]:
df_cleaned = df_backup

In [206]:
df_cleaned.to_csv('covid_19_india_cleaned.csv')